/* здесь используйте глобальные переменные */
$white: #ffffff;
$black: #000000;
$special-black: #111111;
$catalog-black: #222222;
$font-grey: #444444;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$index-grey: #eaeaea;
